/*
 * basic.css
 */
* {padding:0;margin:0;-webkit-text-size-adjust:none;outline:none;}
img {border:0;}
html {height:100%;}
body {background-color:#fffff0;font:11px/18px helvetica, arial, sans-serif;color:#666660;line-height:18px;height:100%;}
textarea {font:12px/18px helvetica, arial, sans-serif;color:#333330;}
ul,ol { list-style: none; }
label {cursor:pointer;}
a, a:visited { color: #666660; text-decoration: none; outline-style: none; outline: none;}
a:hover {color: #c65939;}
.hidden {display:none;}
.clear {clear:both;}
.middle, .absmiddle {vertical-align:middle;}
.absmiddle {margin-left:3px;}
.bold {font-weight:bold;}
.small {font-size:9px;}
.tiny {font-size:10px;}
.text {color:#333330;}
.input {border:solid 1px #b7c597;height:18px;vertical-align:middle;}
.green {color:#6f8b3d;}
.darkgreen {color:#5a6e38;}
.lightgreen {color:#abb88d;}
.red {color:#c65939;}
.black {color:#333330;}
.max {max-width:560px;width:expression(document.body.clientWidth > 560? "560px": "auto" );}
.upper {text-transform:uppercase;}
.imgborder {border:1px solid #c5d1a8;}
.big {font-size:14px;}
.han {font-size:12px;font-family:dotum, "Apple SD Gothic Neo", sans-serif;}
.han_sm {font-size:11px;font-family:dotum, "Apple SD Gothic Neo", sans-serif;}
.size {font-size:12px;}
.common {font-size:11px;}
.darkgrey {color:#444440;}
.nobr {overflow:hidden;white-space:nowrap;}

#container {width:975px;margin:0 auto;background-color:#fffff0;
	height:auto !important; /* real browsers */
	min-height:100%; /* real browsers */
}
#header {height:64px;color:#fffff0;position:relative;background-color: #abb88d;}
#logo {font-size:20px;width:80px;height:16px;display:block;position:absolute;top:24px;left:175px;z-index:1;}
#nav_top {font-size:18px;width:315px;height:16px;display:block;position:absolute;top:24px;left:415px;z-index:2;word-spacing:3px;cursor:default;}
#nav_top a {cursor:pointer;}
#leftbar {float:left;display:inline;width:159px;background-color:#faf8df;color:#6f8b3d;}
#nav {display:block;margin:16px 15px 16px 15px;line-height:20px;cursor:default;}
#nav ul {display:block;margin-bottom:16px;}
.title_link img, .postsimg {width:16px;height:16px;margin-left:-3px;}
#nav a, #nav a:visited, .tooltip_top a, .tooltip_top a:visited, .tooltip_top2 a, .tooltip_top2 a:visited, .tooltip_top3 a, .tooltip_top3 a:visited {color:#647d37;width:100%;display:block;height:16sspx;}
#nav a:hover, .tooltip_top a:hover, .tooltip_top2 a:hover, .tooltip_top3 a:hover, .navnow {color:#c65939;background-color:#eae5c2;}

#content {background-color:#faf8df;
min-height:732px;
height: auto !important; /* for modern browsers */
}
#bodywrapper {width:815px;border-left:1px solid #e0dcc0;background-color:#fffff0;float:left;display:inline;padding-bottom:32px;}
#body {width:785px;margin:0 auto;background-color:#fffff0;min-height:760px;
height: auto !important; /* for modern browsers */
}
#bodycontent{width:48%;float:left;line-height:25px;margin-top:10px;margin-bottom:10px;margin-left:12px;}
#topwrapper {position:relative;width:785px;font-size: 25px;}
#min {height:385px;width:1px;float:right;background-color:#fffff0;}
#clear {clear:both;height:1px;overflow: hidden;background-color:#e0dcc0;width:960px;display:block;}
.clear {clear:both;}
#indexiframe {display:none;}

#announcement {position:absolute;left:400px;top:0;margin-top:10px;height:30px;width:383px;overflow:hidden;white-space:nowrap;border:solid 1px #c5d1a8;background-color:#fdfce9;font-size:12px;}

#footer {height:32px;position:relative;cursor:default;}
#footer #copyright {position:absolute;top:0px;left:175px;width:465px;color:#888880}
#footer #announcements {position:absolute;top:0px;left:655px;height:16px;}
#footer #policy {position:absolute;top:0px;left:815px;height:16px;}
#footer a, #footer a:visited, #announcement a, #announcement a:visited {color:#666660;width:100%;}
#footer a:hover {color:#647d37;}
#footer .hover {border-bottom:solid 2px #e0dcc0;}

.grey a, .grey a:visited {color:#999990;}
.darkgrey a, .darkgrey a:visited, .darkgrey a:hover {color:#555550;}
.green a, .green a:visited, .green a:hover, .greenred a, .greenred a:visited, .grey a:hover  {color:#647d37;}
a.green , a.green:visited, a.green:hover {color:#647d37;}
.grey {color:#999990;}
.red a, .red a:visited, .red a:hover, #announcement a:hover {color:#c65939;}
.black a, .black a:visited {color:#333330;}
.black a:hover, .greenred a:hover {color:#c65939;}

/* tooltip styling */ 
.tooltip { 
  display:none; 
  background-color:#fdfce9;
  width:160px;
  color:#6f8b3d;
	border:1px solid #e0dcc0;
	z-index:999;
	overflow:hidden;
}
.tooltip_top, .tooltip_top2, .tooltip_top3 { 
  display:none; 
  background:transparent url(../images/tooltip_top.gif) top center no-repeat;
	z-index:888;
	padding-top:5px;
	overflow:hidden;
	line-height:16px;cursor:default;
	word-spacing:0px;
}
.tooltipbody {padding:10px;
}
.tooltip_top ul, .tooltip_top2 ul, .tooltip_top3 ul {
	background-color:#faf8df;
  width:123px;
  color:#6f8b3d;
	border:1px solid #e0dcc0;
	padding:5px;
}
.posts li {height:28px;line-height:28px;font-size:12px;overflow:hidden;white-space:nowrap;}
.comment {font-weight:bold;color:#444440;font-size:10px;}
.commentimg {width:10px;height:9px;vertical-align:middle;margin:0 3px;}
.newimg {width:8px;height:8px;vertical-align:middle;margin:0 3px;}

.title {clear:left;height:32px;cursor:default;}

.go {background-color:#d4dcba;width:16px;height:16px;margin-right:5px;}
.go_active {background-color:#6f8b3d;width:16px;height:16px;margin-right:5px;}


/*
 * bbs.css
 */
.head_left, .head_right, .foot_left, .foot_right {height:24px;float:left;overflow:hidden;white-space:nowrap}

.head_left {border-bottom:1px solid #b7c597;width:640px;letter-spacing:2px;}
.head_right {border-bottom:1px solid #b7c597;width:145px;}
.dctd {border-bottom:1px solid #e2e8cc;height:24px;cursor:default;line-height:24px;overflow:hidden;white-space:nowrap;}
.titleimg {width:16px;height:16px;margin-right:3px;}
.foot_left {margin-top:6px;width:640px;letter-spacing:2px;}
.foot_right {margin-top:6px;width:145px;}

.greenlink a, .greenlink a:visited {color:#647d37;}
.greenlink a:hover {color:#fffff0;background-color:#647d37;}

.textarea {border:1px solid #6e8b3d;font-size:12px;color:#333330;width:783px;overflow:auto;}
.text_comment {height:108px;margin-top:18px;}

.btn_comment {width:785px;background-color:#6e8b3d;color:#fffff0;height:18px;line-height:18px;border:0;text-align:left;cursor:pointer;}
.comment_div {width:785px;border-bottom:1px solid #e2e8cc;padding:6px 0;overflow:hidden;line-height:18px;}
.comment_name {float:left;width:705px;height:18px;overflow:hidden;}
.comment_body {width:705px;clear:left;overflow:hidden;word-wrap:break-word;display:block;}
.comment_btns {float:left;width:65px;margin-left:15px;height:18px;overflow:hidden;}
.comment_btns img {cursor:pointer;}
.date {color:#aaaaa0;font-size:9px;}

#accesskey_info {padding-top:5px;cursor:default;}

#post {width:785px;overflow:auto;padding-top:18px;}
#post p {margin:3px 0;}
#post div {padding-bottom:10px;}

#ckeditor div {padding:0;}

.post_input {width:783px;height:22px;border:1px solid #b7c597;font-size:12px;color:#333330;}
.post_file {width:50%;height:22px;border:1px solid #b7c597;font-size:12px;color:#333330;}
.post_textarea {width:783px;height:320px;border:1px solid #b7c597;font-size:12px;color:#333330;overflow:auto;}
#dctplayer, #dctplayer2 {padding:18px 0;}

#namelayer {    
	display:none; 
  background-color:#fdfce9;
  width:100px;
  color:#6f8b3d;
	border:1px solid #e0dcc0;
	z-index:999;
	overflow:hidden;
	padding:5px;
	line-height:16px;
}
#namelayer div {height:16px;}
#namelayer img {vertical-align:middle;}
#namelayer a, #namelayer a:visited {color:#647d37;}
#namelayer a:hover {color:#c65939;}
.namelayer {cursor:pointer;}

.download_link {background-color:#faf8df;padding:5px;border:1px solid #e0dcc0;width:400px;word-wrap:break-word;display:block;overflow:auto;margin-bottom:18px;}

#gotop a {display:none;background:transparent url(../images/top.gif) no-repeat left top;width:20px;height:28px;cursor:pointer}
#gotop a:hover {display:block;background:transparent url(../images/top_hover.gif) no-repeat left top;width:20px;height:28px;cursor:pointer}
#gotop span{display:none;}

.gallery {width:70px;height:70px;}

.body_text {width:100%;word-wrap:break-word;display:block;overflow:hidden;}

.body_text a, .body_text a:visited, .comment_body a, .comment_body a:visited {color:#666660;}
.body_text a:hover, .comment_body a:hover{ color: #c65939;}

.body_text img {vertical-align:middle;}

.body_text img, .comment_body img {max-width:100% !important;height:auto;vertical-align:middle;}
.body_text iframe, .body_text embed, .comment_body iframe, .comment_body embed {max-width:100% !important;}

/*
 * tophits.css
 */
.tophits { 
  display:none; 
  background:transparent url(../images/tophits.gif) top left no-repeat;display:block;width:66px;height:47px;
}

/*
 * index.css
 */
/* root element for tabs  */
ul.css-tabs {
	height:21px;
	border-bottom:1px solid #c5d1a8
}

/* single tab */
ul.css-tabs li {
	float:left;
	margin-bottom:3px;
	list-style-type:none;
}

/* link inside the tab. uses a background image */
ul.css-tabs a, ul.css-tabs a:visited {
	float:left;
	text-decoration:none;
	height:18px;
	color:#aaaaa0;
	position:relative;
	cursor:pointer;
}

ul.css-tabs li {
padding-right:20px;
}

ul.css-tabs a:hover {
	color:#6f8b3d;
}

/* selected tab */
ul.css-tabs a.current, ul.css-tabs a.current:visited {
	color:#6f8b3d;
	cursor:default;
}


/* tab pane */
div.css-panes div {
	display:none;
	padding:8px 0;
	background-color:#fffff0;
}

#colorbox:focus {outline:none !important;}
#cboxWrapper:focus {outline:none !important;}
#cboxClose {background:none;border:0;outline:none;}

#like {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor:default;
}

.imagetext_card_container {
  margin: 5px 0;
}

.imagetext_card_container .imagetext_card {
  width: 180px;
  float: left;
  box-sizing: border-box;
  margin-left: 20px;
}
.imagetext_card_container .imagetext_card:first-child {
  margin-left: 0;
}
.imagetext_card_inner {
  border: 1px solid #e1e8cc;
  padding: 0;
  margin-top:3px;
  float:left;
  display: inline-block;
  width: 100%;
  overflow:hidden;
  white-space:nowrap;
}
.imagetext_card_inner .image {
  width: 100%;
  height: 90px;
  border-bottom: solid 1px #e1e8cc;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}
.imagetext_card_inner .image img {
  max-width: 100%;
  max-height: 100%;
  border-width: 0 !important;
}
.imagetext_card_inner .info {
  padding: 10px;
  overflow: hidden;
}
.imagetext_card_inner .info div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.comment_btns a, .not_copyable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
